{% extends "base.html" %}
{% block Titulo %}Altas de negocio{% endblock %}
 {% block content %}

<link rel="stylesheet" href="/mediapage/flora.all.css" type="text/css" media="screen" title="Flora (Default)">
<link rel="stylesheet" href="/mediapage/altaempresas.css" type="text/css" >
<script type="text/javascript" src="/mediapage/ui.core.js"></script>
<script type="text/javascript" src="/mediapage/ui.tabs.js"></script>
<script type="text/javascript">
    function trim(cadena)
    {
	for(i=0; i<cadena.length; )
	{
		if(cadena.charAt(i)==" ")
			cadena=cadena.substring(i+1, cadena.length);
		else
			break;
	}

	for(i=cadena.length-1; i>=0; i=cadena.length-1)
	{
		if(cadena.charAt(i)==" ")
			cadena=cadena.substring(0,i);
		else
			break;
	}	
	return cadena;
    }
    
    function AddPhone()
    {        
        var lista=trim($("#telefonos").attr("value")+$("#telefono").attr("value")+"\n");
        $("#telefonos").attr("value",lista);        
        $("#telefono").attr("value","");        
    }
    
    $(document).ready(function(){
       $("#Formulario > ul").tabs(); 
    });
    </script>
<div id="Usuario">
    {% if correo %}
        {{ correo|escape }}
    {% else %}
        <script type="text/javascript">
            window.location="/"
        </script>
    {% endif %}
</div>
<div id="Formulario" class="flora">
    <ul>
        <li><a href="#descripcion"><span>Descripcion del negocio</span></a></li>
        <li><a href="#direccion"><span>Direccion</span></a></li>
        <li><a href="#contacto"><span>Datos de contacto</span></a></li>
    </ul>
    <div id="descripcion">
        <table >
            <tr>
                <td>Nombre:</td>
                <td><textarea cols="60" id="desc"></textarea></td>
                <td></td>
                <td>

                </td>
            </tr>
            
        </table>
    </div>
    <div id="direccion">
        <table width="664" >
          <tr>
            <td>Calle:</td>
            <td><input id="calle"></td>
            <td>Numero Exterior:</td>
            <td><input id="numext"></td>
          </tr>
          <tr>
            <td>Numero Interior:</td>
            <td><input id="numint"></td>
            <td>Colonia:</td>
            <td><input id="colonia"></td>
          </tr>
          <tr>
            <td>Piso:</td>
            <td><input id="piso"></td>
            <td>Andador:</td>
            <td><input id="andador"></td>
          </tr>
          <tr>
            <td>Codigo Postal:</td>
            <td><input id="telefono" maxlength="5"></td>
            <td>Ciudad:</td>
            <td>
                <select name="datos" readonly="true" id="datos" > 
                    {% if listaciudades %}
                      {% for x in listaciudades %}
                        <option value="{{ x.ciudad|escape }}">{{ x.ciudad|escape }}</option>
                      {% endfor %}
                    {% endif %}
                </select>
            </td>
          </tr>
        </table>  
  </div>
   <div id="contacto">
        <table width="670" height="74" >
          <tr>
            <td>Web Site:</td>
            <td><input id="web"></td>
            <td>E-Mail:</td>
            <td><input id="mail" value="@"></td>
          </tr>
          <tr>
            <td>Telefono:</td>
            <td><input id="telefono" maxlength="10"></td>
            <td><button id="addphone" onclick="AddPhone();">Insertar telefono</button></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><textarea name="telefonos" readonly="readonly" id="telefonos" rows="5" style="background-color:#FFFFFF"> </textarea></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </table>
    </div>
</div>

<div id="botongrabar" style="text-align:center">
<button id="grabar"  onclick="alert('lo siento, funcionalidad aun no implementada');">Grabar</button>
<button id="cancelar" onclick="window.location='/'">Cancelar</button>
</div>
{% endblock %}