{% extends "base.html" %}
{% block Titulo %}login de ubicanegocio{% endblock %}
{% block content %}
<script type="text/javascript">
    function ValidoCorreos()
    {
	var Dato=$("#correo").attr("value");	
	var filter=/^[A-Za-z][A-Za-z0-9_]*@[A-Za-z0-9_]+\.[A-Za-z0-9_.]+[A-za-z]$/;
	var correcto=false;
	if(Dato.length>0)
	{
	    if(filter.test(Dato))
	    {
		correcto=true;
	    }
	}
	if(!correcto)
	{
	    alert("Ingrese una direccion de correo valida");
	    $("#correo").focus();
	}
	else
	{
	    envioCorreo();
	}
    }
    function envioCorreo()
    {
        var Dato=$("#correo").attr("value");
        ajax={
            type: "POST",
            async:true,            
            url:"/enviocorreo",
            data:"correo="+Dato,
            error: function ()
                    {
                        alert("Ocurrio un error con el envio de correo")
                    },            
            success: function()
                    {                       
                        $("#confirmacion").html("<br><br>Se ha enviado un correo de confirmacion en la cuenta definida"); 
                    }
        };
        $.ajax(ajax);//llamo la funcion con JQUERY        
        return false;        
      
    }    
    
</script>

<link href="/mediapage/login.css" rel="stylesheet" type="text/css" />
 <div id="login">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="90%"> 
<tr> 
<td width="100%" align="center">
    
    <div id="textologin" >
        <table border="0" cellpadding="0" cellspacing="0" class="tablatextologin">
	    <tr >
		<td colspan=2 style="text-align:center">
		    <b>Ingrese al sistema</b>
		</td>
		<td colspan=3 style="text-align:center">
		    <b>O capture una cuenta nueva</b>
		
		</td>
	    </tr>
	<tr>
	    <td colspan=5>
		<br>
	    </td>
	</tr>
        <tr>
            <td>
                Usuario:
            </td>
            <td>
                <input name="usuario" type="text" id="usuario" value="" size="25">
            </td>
	    <td rowspan=5>
		<img src="/mediapage/images/linea.png" id="barra"/>
	    </td>
	    <td>
		&nbsp&nbsp&nbsp&nbsp Correo electronico :
	    </td>
	    <td>
		<input name="correo" type="text" id="correo" value="@" size="25">
	    </td>
        </tr>
        <tr>
            <td>
                <br>
            </td>
            <td>
            </td>
	    <td>
            </td>
	    <td>
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input name="password" type="password" id="password" value="" size="25">
            </td>
	    <td>
            </td>
	    <td>
            </td>    
        </tr>
        <tr>
            <td>
                
            </td>
            <td align="right" >
                <br>
                <button id="grabar" style="width:80px;">Enviar</button>
            </td>
	    <td>
	    </td>
	    
	    <td align="right">
		<br>
                <button id="enviarcorreo" style="width:80px;"  onclick="ValidoCorreos()">Enviar</button>
	    </td>
        </tr>
        </table>
    </div>
    <div id="confirmacion" style="text-align:center">

    </div>
</td> 
</tr> 
</table>
 </div>
{% endblock %}