<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head><link href="estilo.css" rel="stylesheet" type="text/css" />
    <title>Pagina Base</title></head>
<script type="text/javascript" src="chrome.js"></script>
<body >
<div id="Header"></div>
<div id="Logo"><img src="images/Logo-trans.png"/>  </div>
<div id="MainMenu">
	<div id="tab">
		<ul>
			<li class="item_active"><a href="#"><span>Inicio</span></a></li>
			<li><a href="#"><span>Bienes raices</span></a></li>
			<li><a href="#"><span>Contacto</span></a></li>
			<li><a href="#"><span>Blog</span></a></li>
		</ul>
	</div>
</div>
<p>&nbsp;</p>


</body>
</html>
