{% extends "base.html" %}
{% block Titulo %}Ubicanegocios.com{% endblock %}
{% block content %}
<link href="/mediapage/login.css" rel="stylesheet" type="text/css" />
<div id="mono">
<img src="/mediapage/images/signin.png" id="barra"/>
</div>
<div id="confirmacion" style="text-align: center">
<br><br>
Su correo ha sido validado correctamente.
<br><br>
Proximamente podra capturar los datos de su empresa y ¡poner sus locales en el mapa!
<br><br>
Nuevamente gracias de parte del equipo de ubicanegocios.com
{% endblock %}
</div>