#Header
{
	background:url(images/Logo.JPG) no-repeat  right 30px  ;
	height:100px;
	width:auto;
}
#Logo
{
	top:10;
	position:absolute;
	right:410;
}
#Nuevo
{
	position:absolute;
	top:17%;
	right:1%
}
#MainMenu 
{
	height:30px;
	margin:0;
	border-style:solid;
	border-color:#B5E249;
	border-top-width:0;
	border-right-width:0;
	border-bottom-width:5px;
	border-left-width:0;
}
#tab 
{
	margin:0;
	top:0;
}
#tab ul 
{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#tab li 
{
	display:inline;
	float:left;
	margin:0 1px 0 0 ;
	padding:0;
}
#tab a 
{
	background:#000000 url("images/bright_058.gif") no-repeat right top;
	margin:0;
	padding:0;
	text-decoration:none;
	border:0;
	display:block;
	float:left;
}
#tab a span 
{
	display:block;
	background:url("images/bleft_058.gif") no-repeat left top;
	padding:0 15px 0 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11;
	color:#FFFFFF;
	font-weight:bold;
	line-height:30px;
}
#tab a:hover,#tab li.item_active a 
{
	background-position:right bottom;
	border-color:#FF9300;
}
#tab a:hover span,#tab li.item_active a span 
{
	background-position:left bottom;
	color:#FFFFFF;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
}
.dropmenudiv
{
	position:absolute;
	top:0;
	float:left;
	display:block;
	visibility:hidden;
	border-style:solid;
	border-color:#B5E249;
	border-top-width:0;
	border-right-width:0;
	border-bottom-width:5px;
	border-left-width:0;
	color:#FFFFFF;
	z-index:100;
	text-decoration:none;
	padding:0;
}
.dropmenudiv ul 
{
	margin:0;
	padding:0;
	list-style:none;
}
.dropmenudiv li 
{
	display:inline;
	margin:0;
	padding:0;
}
.dropmenudiv a:link, .dropmenudiv a:visited
{
	width:180px;
	margin:0 1px 0 0 ;
	padding:0;
	display:block;
	border:0 solid ;
	color:#FFFFFF;
	background:url("images/bleft_058.gif") no-repeat left top;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
}
.dropmenudiv a span 
{
	float:left;
	display:block;
	line-height:30px;
	background:url("images/bright_058.gif") no-repeat right top;
	padding:0 15px 0 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11;
	color:#FFFFFF;
}
.dropmenudiv a span 
{
	float:none;
}
.dropmenudiv a:hover
{
	border:0 solid #FF9300;
	background-position:left bottom;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	color:#FFFFFF;
}
.dropmenudiv a:hover span 
{
	background-position:right bottom;
	color:#FFFFFF;
	font-weight:bold;
}
#map_canvas
{
	position: absolute;
	top:160px;
	bottom:5px;
	left:5px;
	width:73%;
	height:80%;	
}
#bloques
{
	position:static;
	float:none;
}
#bloque
{
    opacity:.7;
    filter:alpha(opacity=70);

	position:absolute;
	float:none;
	width: 25%;
	height:94px;
	top:160px;
	right:9px;
	font-weight:bold;
	text-align :center;
	color:Navy;
	background: #CAE0ED;
    
}
.Encabezado
{
	position:relative;
	top:20px;
}
.txtBusqueda
{
	background:white  url(images/lupa.gif) no-repeat 2px center;
	padding: 2px 2px 2px 18px;
}
.btnBuscar
{	
	position:absolute;
	right:2%;
	bottom:15px;	
}

#MisSitios
{
    opacity:.7;
    filter:alpha(opacity=70);

	position:relative;
	float:right;
	width: 25.3%;
	height:300px;
	top: 70px;
	left:0px;
	font-weight:bold;
	text-align :center;
	color:Navy;
	background: #CAE0ED;    
}
div.top-left-corner, div.bottom-left-corner,
div.top-right-corner, div.bottom-right-corner
{position:absolute; width:20px; height:20px;
background-color:#FFF; overflow:hidden;}
div.top-left-inside, div.bottom-left-inside,
div.top-right-inside, div.bottom-right-inside
{position:relative; font-size:150px; font-family:arial;
color:#CAE0ED; line-height: 40px;}
div.top-left-corner { top:0px; left:0px; }
div.bottom-left-corner {bottom:0px; left:0px;}
div.top-right-corner {top:0px; right:0px;}
div.bottom-right-corner {bottom: 0px; right:0px;}
div.top-left-inside {left:-8px;}
div.bottom-left-inside {left:-8px; top:-17px;}
div.top-right-inside {left:-25px;}
div.bottom-right-inside {left:-25px; top:-17px;}
