@charset "utf-8";
#login{
	
}
#barra
{
	position: absolute;
	top:0%;
	left:43%;
}
#textologin {
	position: absolute;
	top:43%;
	left:23%;
}
.tablatextologin
{

	font-size: large;
	font:bold;
	text-align: left;
	color:#549CD6;

}
#confirmacion
{
	color:#549CD6;
	font-size: large;
	font:bold;
}
#mono
{	
	position: absolute;
	top: 30%;
	left: 3%;
}
